<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
<servlet>
<description/>
<display-name>Registration</display-name>
<servlet-name>Registration</servlet-name>
<servlet-class>pvt.servlets.Registration</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Registration</servlet-name>
<url-pattern>/Registration</url-pattern>
</servlet-mapping>
<display-name>PVT_System</display-name>
<welcome-file-list>
<welcome-file>index.html</welcome-file>
<welcome-file>index.htm</welcome-file>
<welcome-file>index.jsp</welcome-file>
<welcome-file>default.html</welcome-file>
<welcome-file>default.htm</welcome-file>
<welcome-file>default.jsp</welcome-file>
</welcome-file-list>
<servlet>
<description/>
<display-name>Login</display-name>
<servlet-name>Login</servlet-name>
<servlet-class>pvt.servlets.Login</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>/Login</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>AddNewStaff</display-name>
<servlet-name>AddNewStaff</servlet-name>
<servlet-class>pvt.servlets.AddNewStaff</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddNewStaff</servlet-name>
<url-pattern>/AddNewStaff</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>AddNewFlight</display-name>
<servlet-name>AddNewFlight</servlet-name>
<servlet-class>pvt.servlets.AddNewFlight</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddNewFlight</servlet-name>
<url-pattern>/AddNewFlight</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>UpdateFlight</display-name>
<servlet-name>UpdateFlight</servlet-name>
<servlet-class>pvt.servlets.UpdateFlight</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UpdateFlight</servlet-name>
<url-pattern>/UpdateFlight</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>BookTicket</display-name>
<servlet-name>BookTicket</servlet-name>
<servlet-class>pvt.servlets.BookTicket</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>BookTicket</servlet-name>
<url-pattern>/BookTicket</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>UpdateTicket</display-name>
<servlet-name>UpdateTicket</servlet-name>
<servlet-class>pvt.servlets.UpdateTicket</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UpdateTicket</servlet-name>
<url-pattern>/UpdateTicket</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>UpdateProfile</display-name>
<servlet-name>UpdateProfile</servlet-name>
<servlet-class>pvt.servlets.UpdateProfile</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UpdateProfile</servlet-name>
<url-pattern>/UpdateProfile</url-pattern>
</servlet-mapping>
</web-app>
